{% extends 'base.html' %}
{% block content %}
<div class="p-3">
  <div class="container">
    <div class="row mt-3">
      <div class="col mx-auto text-center mb-3">
        <h4>Welcome to the Popularity Map page!</h4>
        <hr>


        <div class="container mb-3">
          <div class="row justify-content-center">
            <div class="col-md-7 d-flex flex-column align-items-center">
              <div id="map" style="height: 600px; width: 100%"></div>
              {{ cities|json_script:"cities_json" }}
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<script> 
    var map = L.map('map').setView([33.78, -84.4], 13); // Centered on GT
    
    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(map);
    
    let cities = JSON.parse(document.getElementById('cities_json').textContent);

    cities.forEach(city => {
      let marker = L.marker([city.latitude, city.longitude]).addTo(map)

      let popupContent = `
        <b class="align-text-center">${city.city}, ${city.state}</b><br>
        <hr style="margin 5px 0;">
        <b>🔥Trending Movie: </b> ${city.top_movie}<br>
        <b>📈Local Purchases: </b> ${city.purchase_count}
      `;

      marker.bindPopup(popupContent)
    })
    
</script>
{% endblock content %}